.commit_board {
  .header {
    .art_head {
      display: flex;
      flex-direction: row;
      align-items: center;

      a {
        img {
          width: 32px;
          height: 32px;
          border-radius: 16px;
        }
      }

      .art_h__right {
        display: flex;
        flex-direction: column;
        margin-left: 16px;

        .name {
          color: #333;
          font-size: 17px;
          font-weight: 500;
        }

        .meta {
          color: #909090;
        }
      }
    }
  }
}

.main {
  padding-top: 6px;
  padding-bottom: 15px;
  font-size: 14px;
  color: #17181a;
  overflow: hidden;
  white-space: pre-line;
  line-height: 20px;
}

.tags {
  font-size: 14px;
  display: inline-block;
  line-height: 20px;
  color: #1d7dfa;
}

.footer {
  display: flex;
  flex-direction: row-reverse;

  .f_one {
    margin-right: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #4e5969;

    img {
      width: 16px;
      height: 16px;
      margin-right: 6px;
      color: #4e5969;
    }
  }
}
