.about {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 48px;
  font-size: 16px;
  font-family: 'Fuzzy Bubbles', cursive;

  h2 {
    font-family: 'Bangers', cursive;
  }

  :global {
    .ant-typography {
      color: rgba(0, 0, 0, 0.8);
      padding-left: 12px;

      img {
        width: 36px;
        margin-right: 8px;
      }
    }
  }

  .balls {
    width: 65px !important;
    margin-right: 8px;
  }

  h2 {
    padding-left: 12px;
    font-weight: 500;
    margin-bottom: 20px;
    border-radius: 2px;
    border-left: 4px solid #1890ff;
  }
}
