// highlight
.markdown-body {
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;

  ul {
    padding-left: 24px;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 30px;
  }

  code {
    word-wrap: break-word;
  }

  .fluidbox__wrap {
    img {
      width: 100%;
      // max-width: 654px;
    }
  }

  .joypixels {
    width: 16px;
  }

  blockquote {
    border-left: 3px solid rgb(118, 106, 247);
    padding-left: 8px;
    font-size: 17px;
    font-weight: 500;
    color: rgb(43, 41, 41);
    margin: 30px 0;
    padding-top: 8px;
    padding-bottom: 8px;

    ol {
      margin-bottom: 0;
    }

    p {
      display: contents;
    }
  }

  .code-toolbar {
    background: #292d3e;
    border-radius: 10px;
    margin: 30px 0;
    font-weight: 300;
  }

  pre {
    border-radius: 10px;
    font-weight: 300;
    background: #292d3e;
    line-height: 1.5;
    text-shadow: 0 1px rgb(0 0 0 / 30%);
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    padding: 1em 1em 1em 3.8em;
    font-size: 14px !important;
    margin: 30px 0;
  }

  pre.line-numbers {
    overflow-x: auto;
    border-radius: 10px;
    font-weight: 300;
    background: #292d3e;

    code {
      font-size: 14px;
      display: inline-block;
    }
  }

  table {
    display: inline-block !important;
    font-size: 12px;
    width: auto;
    max-width: 100%;
    overflow: auto;
    border: 1px solid #f6f6f6;

    thead {
      background: #f6f6f6;
      color: #000;
      text-align: left;
    }

    td,
    th {
      padding: 12px 7px;
      line-height: 24px;
      &:nth-child(2n) {
        border-left: 2px #fff solid;
      }
    }

    tr {
      &:nth-child(2n) {
        background-color: #f6f6f6;
      }
    }
  }
}
