.art_tool {
  display: flex;
  flex-direction: column;

  .at_one {
    margin-top: 16px;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    position: relative;
    cursor: pointer;

    img {
      width: 20px;
      height: 20px;
      border-radius: 10px;
    }

    .qrcode_main {
      background-color: #fff;
      padding: 8px;
      border-radius: 8px;
      position: absolute;
      left: -45px;
      top: 49px;
      box-shadow: 0 0 5px rgb(240, 234, 234);
    }
  }
}
