@import './../../../style/common.less';

.art_detail {
  min-height: 243px;
  position: relative;

  .teart_left {
    padding-right: 16px;

    .art_containt {
      background-color: #fff;
      min-height: 243px;
      padding: 16px;

      .art_main {
        padding-top: 8px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        height: 100%;
        background-color: #fff;

        :global {
          .ant-card-body {
            padding: 8px;
          }
        }

        .art_head {
          display: flex;
          flex-direction: row;
          align-items: center;

          a {
            img {
              width: 40px;
              height: 40px;
              border-radius: 20px;
            }
          }

          .art_h__right {
            display: flex;
            flex-direction: column;
            margin-left: 16px;

            .name {
              color: #333;
              font-size: 17px;
              font-weight: 500;
            }

            .meta {
              color: #909090;

              time {
                margin-right: 1rem;
              }

              .edit {
                margin-left: 30px;
                color: #1264b6;
                cursor: pointer;

                &:hover {
                  color: #58a5f1;
                  font-weight: 500;
                }
              }
            }
          }
        }

        .marks {
          overflow-x: auto;
          margin-top: 36px;
        }

        .comment_card {
          width: 100%;
          border-top: 1px solid #e5e6eb;
          margin-top: 36px;
          display: flex;
          flex-direction: column;

          :global {
            .ant-card-body {
              width: 100%;
              padding: 28px 0;
            }
          }

          .comment_head {
            display: flex;
            flex-direction: row;
            font-size: 16px;
            font-weight: 500;
            align-items: center;
            margin-bottom: 12px;

            img {
              width: 16px;
              height: 16px;
              margin-left: 4px;
            }
          }
        }

        .footer {
          margin-bottom: 50px;
        }

        :global {
          .ant-space-item {
            font-weight: 500;

            .ant-tag {
              color: #4e5969;
              padding: 4px 16px;
              margin-left: 16px;
            }
          }
        }
      }
    }

    .footer_list {
      background-color: #fff;
      min-height: 100px;
      margin-top: 16px;
      margin-bottom: 72px;

      h1 {
        font-size: 18px;
        font-weight: 600;
        color: #909090;
        border-bottom: 1px solid rgba(178, 186, 194, 0.15);
        padding: 16px;
      }

      :global {
        .ant-skeleton {
          padding: 16px;
        }

        .ant-card-body {
          padding: 0 16px;
        }
      }

      .h_main {
        padding-bottom: 16px;

        .h_main__end {
          display: flex;
          justify-content: center;
          color: #999;
          padding: 15px 0;
          align-items: center;

          img {
            width: 26px;
            height: 26px;
            margin-right: 4px;
          }
        }
      }
    }

    .footer_list__isMobobile {
      :global {
        .ant-card-body {
          padding: 16px 0;
        }
      }
    }
  }
}
