.project {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;

  :global {
    .ant-card {
      border-radius: 8px;

      img {
        width: 100%;
        margin-bottom: 24px;
      }
    }
  }
}
