@import '../../../style/common.less';

.box {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 2px;
}

.teawhile {
  width: 1000px;
  .teawhile_left {
    .box();
    aside {
      padding: 16px;
    }

    :global {
      .ant-space-item {
        width: 93px;
        .ant-radio-button-wrapper {
          width: 100%;
          border-radius: 5px;
          border: none;
          margin-top: 8px;

          &::before {
            content: none;
          }

          &:nth-of-type(1) {
            margin-top: 0;
          }
        }
      }
    }
  }

  .teawhile_main {
    padding: 0 16px;

    .init_section {
      .box();
      background: #fff;
    }
  }

  .teawhile_aside {
    .box();
    aside {
      padding: 16px;

      &:nth-of-type(1) {
        .tehome_one {
          h5 {
            .asideH5Title();
          }

          ul {
            .ulNoStyle();
          }
        }
      }
    }
  }
}
