.ahile {
  background: #f8f8f8;

  .header_card__footer {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    height: 53px;

    .header_card__tool {
      display: flex;
      flex-direction: row;
      position: relative;
      width: 100%;

      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding-left: 0;
        height: 100%;

        li {
          display: flex;
          flex-direction: row;
          align-items: center;
          color: #007fff;

          span {
            margin-right: 4px;
          }

          margin-right: 16px;
        }
      }
    }
  }

  .awhile_content {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
  }
}
