.home {
  .h_tags {
    :global {
      .ant-tag {
        padding: 2px 20px;
        border: 1px solid #06f;
        color: #06f;
        background-color: #fff !important;
        margin-bottom: 14px;

        &:hover {
          background-color: rgba(0, 102, 255, 0.11) !important;
        }
      }
    }
  }
}
