.flexCloumn {
  display: flex;
  flex-direction: column;
}

.centerCommon {
  justify-content: center;
  align-items: center;
}

.art_list {
  .art_list__main {
    .flexCloumn();
    padding-left: 0;
    li {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
      padding: 3px 0 8px 0;

      .art_cont__right {
        .flexCloumn();
        margin-left: 16px;
        width: 100%;
        h6 {
          font-weight: 500;
          margin-bottom: 8px;
          font-size: 15px;
        }

        .art_footer {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .art_footer__l {
          }

          .art_footer__r {
            color: #00965e;
          }
        }
      }
    }
  }
}
