<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

<head>
  <link rel="icon" href="<%= context.config.publicPath +'pencil.ico'%>" type="image/x-icon" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z5YCLQFN3L"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-Z5YCLQFN3L');
  </script>
</head>

<body>
  <div id="root">

  </div>
  </div>
</body>

</html>
