<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

<head>
  <link rel="icon" href="<%= context.config.publicPath +'pencil.ico'%>" type="image/x-icon" />
</head>

<body>
  <div id="root">

  </div>
  </div>
</body>

</html>
