.tag_select {
  :global {
    .ant-tag {
      padding: 4px 20px;
      border: none;
      color: #646464;
      background-color: #f6f6f6 !important;
      margin-bottom: 14px;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 102, 255, 0.11) !important;
      }
    }

    .active {
      color: #06f;
      background-color: rgba(0, 102, 255, 0.11) !important;
      font-weight: 500;
    }
  }
}
