.user_bar {
  :global {
    .ant-page-header {
      padding: 6px 24px;
    }
  }

  .a_side {
    background-color: #fff;
    min-height: 620px;
    margin-top: 16px;
    padding: 8px;

    :global {
      .ant-space {
        width: 100%;

        .ant-space-item {
          width: 100%;

          .ant-radio-button-wrapper {
            width: 234px;
            border-radius: 4px;
            border: none;
            margin-top: 8px;

            &::before {
              content: none;
            }

            &:nth-of-type(1) {
              margin-top: 0;
            }
          }
        }
      }
    }
  }

  .a_right {
    min-height: 620px;
    margin-left: 16px;
    margin-top: 16px;
    display: flex;
    flex-direction: row;

    :global {
      .ant-card {
        min-height: 620px;
        width: 726px;

        .ant-card-body {
          display: flex;
          flex-direction: row;
        }

        .ant-upload {
          border-radius: 52px;

          img {
            width: 104px;
            height: 104px;
            border-radius: 52px;
          }
        }
      }
    }

    .left {
      min-width: 240px;
      width: calc(100% - 250px);
      margin-right: 60px;

      :global {
        .ant-divider-horizontal {
          margin: 18px 0;
        }

        .ant-row {
          margin-bottom: 0;
        }

        .ant-form-item-control-input-content {
          input,
          textarea {
            color: #1d2129;
            background: #fafafa;

            &:focus {
              background: #fff;
            }
          }
        }
      }
    }

    .right {
      width: 112px;
      display: flex;
      flex-direction: column;

      .back_upload {
        display: flex;
        justify-content: center;
        color: #1d7dfa;
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 8px;
      }
    }
  }
}
