.asideH5Title {
  padding-left: 12px;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 20px;
  border-radius: 2px;
  border-left: 4px solid rgb(24, 144, 255);
}

.ulNoStyle {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.tehome_hot {
  ul {
    padding-left: 0;
    margin-bottom: 0;
    li {
      border-top: 1px solid rgba(0, 0, 0, 0.0625);
      padding: 8px 0;
      max-width: 218px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 400;
      white-space: nowrap;

      &:nth-of-type(1) {
        border-top: none;
      }

      &:hover {
        font-weight: 600;
      }
    }
  }
}
