@pro-header-hover-bg: rgba(0, 0, 0, 0.025);

.header {
  position: fixed;
  z-index: 999;
  background-color: #20232a;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 8px rgb(231, 235, 247);

  .logo {
    position: absolute;
    align-items: center;
    left: -148px;
    display: flex;
    flex-direction: row;

    img {
      width: 60px;
      margin-right: 8px;
    }

    strong {
      font-size: 26px;
      font-weight: 500;
      font-family: arial, 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
      color: #61dafb;
    }
  }

  .menu {
    border-bottom: none;
    margin-bottom: 4px;
    margin-left: -22px;
    background-color: #20232a;

    :global {
      .ant-menu-item {
        a {
          color: #fff;
          font-size: 18px;
          font-weight: 300;
        }
      }

      .ant-menu-item-selected {
        border-bottom: 2px solid #61dafb;

        a {
          color: #61dafb;
        }

        &::after {
          content: none;
        }
      }

      .ant-menu-item-active {
        border-bottom: 2px solid #61dafb !important;

        &::after {
          content: none;
        }
      }
    }
  }

  :global {
    .ant-row {
      width: 1000px;
      height: 68px;

      .ant-col-8 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .ant-radio-group {
          margin-right: 0;
        }
      }
    }
  }

  .header_r__main {
    display: flex;
    flex-direction: row-reverse;
    min-width: 500px;

    .header_tool {
      display: flex;
      flex-direction: row;
      align-items: center;

      :global {
        .ant-btn-group {
          margin-left: 16px;

          .ant-btn-default {
            color: #fff;
            background-color: #61dafb;
            border: none;
          }
        }

        .ant-input-group-addon {
          background-color: #20232a;
          left: 2px;
          .ant-btn {
            background-color: #20232a;
            border: none;
          }
        }

        .ant-btn-group {
          .ant-btn {
            background-color: #20232a;
            border: 1px #20232a solid;
          }
        }

        .ant-input-wrapper {
          .ant-input {
            background: transparent;
            border: none;
            color: #fff;
            margin-right: 4px;

            &:focus {
              background-color: rgb(54, 53, 53) !important;
              border: none !important;
            }
          }
        }
      }

      .action {
        display: flex;
        align-items: center;
        height: 48px;
        padding: 0 12px;
        margin-left: 10px;
        cursor: pointer;
        transition: all 0.3s;
        color: #fff;

        > span {
          vertical-align: middle;
        }

        &:hover {
          background: @pro-header-hover-bg;
        }

        &:global(.opened) {
          background: @pro-header-hover-bg;
        }
      }
    }

    .header_right {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 32px;

      .register {
        border: 1px solid #61dafb;
        color: #61dafb;
      }

      .register:hover {
        background-color: rgba(0, 102, 255, 0.11);
      }

      :global {
        .ant-btn {
          border: 1px solid #61dafb;

          background-color: #000;
          color: #61dafb;

          &:hover {
            color: #fff;
          }
        }

        .ant-btn-link:hover {
          color: #61dafb;
        }
      }

      .user_menu {
        position: relative;

        .avtors_img {
          cursor: pointer;
          img {
            width: 32px;
            height: 32px;
            border-radius: 16px;
          }
        }

        .menu {
          position: absolute;
          width: 152px;
          border: 1px solid rgba(177, 180, 185, 0.45);
          right: 0px;
          top: 63px;
          box-shadow: 0px 2px 1px #e2e1e1da;

          :global {
            .ant-menu-item {
              color: #fff;

              img {
                width: 14px;
                height: 14px;
                margin-right: 4px;
                margin-top: -3px;
              }
            }
          }
        }

        .menu_dis {
          display: none;
        }
      }
    }
  }
}

.footer {
  background: none;
}
