.login {
  .extra_photo {
    position: relative;

    .pto {
      width: 120px;
      height: 200px;
      left: 120px;
      top: -167px;
      position: absolute;

      img {
        width: 120px;
        top: 0;
        left: 0;
        position: absolute;
      }
    }

    .pto_one {
      left: 123px;
      top: -183px;

      img {
        height: 120px;
        top: 63px;
        left: -35px;
      }
    }

    .pto_two {
      top: -194px;
      left: 100px;

      img {
        height: 120px;
        width: 120px;
        top: 74px;
        left: -4px;
      }
    }

    .pto_three {
      top: -182px;
      left: 99px;

      img {
        height: 120px;
        width: 120px;
        top: 62px;
        left: -22px;
      }
    }
  }

  :global {
    .ant-modal-header {
      border-bottom: none;
    }

    .ant-modal-body {
      padding-top: 16px;
      padding-bottom: 12px;
    }

    .ant-form-item {
      margin-bottom: 8px;

      input {
        height: 39px;
      }

      .ant-input-password {
        input {
          height: 31px;
        }
      }

      .ant-btn-block {
        height: 39px;
        margin-top: 16px;
      }
    }
  }

  .extra_login {
    .extra_login__head {
      display: flex;
      justify-content: space-between;

      :global {
        .ant-btn {
          &:first-child {
            margin-left: -14px;
            font-size: 13px;
          }

          &:last-child {
            margin-right: -14px;
            font-size: 13px;
          }
        }
      }

      .is_password {
        color: rgb(196, 194, 194);
      }
    }

    ul {
      list-style: none;
      padding-left: 0;
      display: flex;
      flex-direction: row;
      margin-bottom: 0;

      li {
        display: flex;
        flex: 1;
        justify-content: center;

        div {
          width: 40px;
          height: 40px;
          border-radius: 20px;
          display: flex;
          background-color: #f4f8fb;
          justify-content: center;
          align-items: center;

          img {
            width: 30px;
          }
        }
      }
    }

    .warn_info {
      font-size: 12px;
      margin-top: 8px;
    }
  }
}
