.comment_list {
  .one_item {
    display: flex;
    padding: 12px 0;
    border-bottom: 1px solid #e5e6eb;

    &:last-child {
      border-bottom: none;
    }

    .comment_main {
      flex: 1 1 auto;
      flex-direction: row;
      position: relative;
    }
  }
}
